http://:80/* {
    log {
        level DEBUG
    }

    handle_path /auth* {
      reverse_proxy auth:3000
    }
    handle_path /api* {
      reverse_proxy fsm:3000
    }
    handle_path /fs* {
      reverse_proxy file-storage:3000
    }
    handle_path /.well-known* {
      root * /well-known
      file_server
    }
    handle {
      root * /dist
      try_files {path} /index.html
      file_server
    }
}
